<div class="section-spacing align-center {% unless section.settings.skip_container %}container{% endunless %}" data-cc-animate>
  {{ section.settings.custom_html }}
</div>

{% schema %}
  {
    "name": "Custom HTML",
    "class": "section--custom-html",
    "settings": [
      {
        "type": "checkbox",
        "id": "skip_container",
        "label": "Full page width",
        "default": false
      },
      {
        "type": "html",
        "id": "custom_html",
        "label": "Custom HTML",
        "default": "<h2>Talk about your brand</h2><p>Use HTML to format your text so it can be easily read. This text can be used to share information about your brand with customers.</p>"
      }
    ],
    "presets": [
      {
        "name": "Custom HTML",
        "category": "Advanced"
      }
    ]
  }
{% endschema %}
