{% section 'product-template' %}
{% section 'product-story' %}
{% section 'product-recommendations' %}

<script>
  theme.checkViewportFillers();
</script>
					
<!-- RYVIU APP :: WIDGET -->
<div class="lt-block-reviews" id="lt-block-reviews"> 
	<ryviu-widget handle="{{product.handle}}" product_id="{{product.id}}" title_product="{{product.title}}" image_product="{{ product.featured_image.src | img_url: '180x' }}"></ryviu-widget>
</div>
<!-- / RYVIU APP -->